$suits-list: 'hearts' 'diamonds' 'clubs' 'spades';
$values-list: 1 2 3 4 5 6 7 8 9 10 11 12 13;

.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;

  .card {
    height: $card-height;
    width: $card-width;
    position: absolute;
    background-size: 100%;
    left: 0;
    transition: left 1s;

    @each $current-suit in $suits-list {
      @each $current-value in $values-list {
        &.#{$current-suit}-#{$current-value} {
            background-image: url("../assets/cards/#{$current-suit}-#{$current-value}.svg");
        }
      }
    }

    .visual-card{
      height: 100%;
      width: 100%;
      display: flex;
      background-color: white;
      border: 1px solid black;
      opacity: 0;
      border-radius: 12px;

      &.color-red{
        color: red;
      }

      .visual-side{
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        font-size: 24px;

        .visual-value, .visual-suit{
          height: 22px;
        }
      }

      .rotated{
        transform: rotateZ(180deg);
      }

      .visual-center{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 45px;
      }
    }

    &:hover {
      z-index: 50;
    }
  }

  &.only-css{
    .visual-card{
      opacity: 1;
    }
  }

  &.hidden {
    .card {
      background: rgb(0,212,255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
    }
    .visual-card{
      opacity: 0;
    }
  }


}
